{% extends 'base.html.twig' %}

{% block title %}Ouvrage index{% endblock %}

{% block body %}
    <h1>Ouvrage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ouvrage in ouvrages %}
            <tr>
                <td>{{ ouvrage.id }}</td>
                <td>{{ ouvrage.titre }}</td>
                    <td><a href="{{ path('app_ouvrage_by_auteur', {'id': ouvrage.auteur[0].id}) }}">{{ ouvrage.auteur[0].nom }}</a></td>
                    <td>
                    <a href="{{ path('app_ouvrage_show', {'id': ouvrage.id}) }}">Show</a>
                    <a href="{{ path('app_ouvrage_edit', {'id': ouvrage.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ouvrage_new') }}">Create new</a>
{% endblock %}
